   <!-- nav  start-->
   
    
    <nav class="navbar navbar-expand-lg navbar-light nav-yellow  border-bottom border-top p-0">
        <div class="container">
            <a class="navbar-brand fs-4 fw-bold " href="#"><img src="../../../../assets/spoonlogo1.png" alt=""></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
                
                <span class="navbar-toggler-icon"></span>
            </button>
         
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0  text-center ">

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle fw-semibold text-uppercase  me-1 " href="#"
                            id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Categories
                        </a>
                        <ul class="category-menu dropdown-menu" aria-labelledby="navbarDropdown" >
                            <li *ngFor="let category of categoryList"><a class="dropdown-item " (click)="navigateToProducts(category.categoryId)" >{{category.categoryName}}</a></li>
                            
                        </ul>
                    </li>
                    
                    <!-- <select name="Category" id="categorySelect">
                        <option value="" *ngFor="let category of categoryList">{{category.categoryName}}</option>
                    </select> -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle redHover fw-semibold text-uppercase   me-1"
                            href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            pages
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">About Us</a></li>
                            <li><a class="dropdown-item" href="#">Cotact Us</a></li>

                            <li><a class="dropdown-item" href="#">Terms and Conditions</a></li>
                        </ul>
                    </li>



                    <li class="nav-item">
                        <a class="nav-link fw-semibold text-uppercase text-white  me-1" href="#">Contact us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fa-solid fa-magnifying-glass fs-5"
                                style="color: #ecf3f3;"></i></a>
                    </li>
                   
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown3" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fa fa-cart-shopping fs-5 me-1" style="color: #ecf3f3;"></i>
                        </a>
                        <ul class="dropdown-menu menuOnLeft   rounded-0 mt-2" aria-labelledby="navbarDropdown3">
                            <li class="p-2" *ngFor="let cart of cartList">
                                <div class="d-flex w-100 border-bottom justify-content-evenly">
                                    <div>
                                        <img style="height: 70px !important;width: 100px !important;"
                                            class="img-fluid     p-2" [src]="cart.productImageUrl" alt="">
                                    </div>


                                    <div >
                                        <a href="#" class="text-decoration-none text-black fw-semibold">
                                            <p class="m-0 p-0">{{cart.productName}}</p>
                                        </a>
                                        <p>1 <i class="fa-solid fa-xmark" style="color: #0d0d0d;"></i> {{cart.productPrice}}Rup.</p>
                                    </div>
                                    <button type="button" (click)="remove(cart.cartId)" class="btn fs-5 closeBtn"><i
                                            class="fa-solid fa-xmark"></i></button>
                                </div>

                            </li>
                            
                            <li class="p-2">
                                <div class=" w-100 ">
                                    <div class="d-flex justify-content-between">
                                        <h6>SubTotal :</h6>
                                        <h6>159.00 Rup.</h6>
                                    </div>
                                    <div class="d-flex justify-content-evenly mt-2">
                                        <button class="btn btn-dark rounded-0 px-3"> View Cart</button>
                                        <a href="checkout.html"> <button
                                                class="btn btn-danger rounded-0 px-3">Checkout</button></a>
                                    </div>

                                </div>
                            </li>

                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle redHover fw-semibold text-uppercase text-white  me-1"
                            href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            <i class="fa fa-user fs-5 me-1" style="color: #e4e8ec;"></i>
                        </a>
                        <ul class=" dropdown-menu" style="left:-50px" aria-labelledby="navbarDropdown">
                            <li class="dropdown-li">
                                <div class=" d-flex  justify-content-evenly mt-2 ">
                                    <a href="#" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight"
                                        aria-controls="offcanvasRight"> <button
                                            class="btn btn-danger rounded-0 px-1">Login</button></a>
                                    <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal"> <button
                                            class="btn btn-danger rounded-0 px-2">Register</button></a>
                                </div>
                                <div class=" d-flex flex-column justify-content-evenly mt-3">
                                    <a href="#" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight"
                                        aria-controls="offcanvasRight"> <button
                                            class="btn btn-danger rounded-circle px-3"(click)="goToAdminLogin()" >A-Login</button></a>
                                    <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal"> <button
                                            class="btn btn-danger rounded-circle px-3" (click)="goToAdminLogin()">A-Register</button></a>
                                </div>

                            </li>

                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"> </a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>




  


<div class="container-fulid">
    <router-outlet></router-outlet>
  </div>


<!-- <div class="container-fluid py-5">
    <div class="container py-5">
        <div class="text-center mx-auto mb-5" style="max-width: 700px;">
            <h1 class="display-4">Bestseller Products</h1>
            <p>Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which
                looks reasonable.</p>
        </div>
        <div class="row g-4">
            <div class="col-lg-6 col-xl-4" *ngFor="let product of productList">
                <div class="p-4 rounded bg-light">
                    <div class="row align-items-center">
                        <div class="col-6">
                            <img [src]="product.productImageUrl" class="img-fluid rounded-circle w-100" alt="">
                        </div>
                        <div class="col-6">
                            <a href="#" class="h5">{{product.productName}}</a>
                            <div class="d-flex my-3">
                                <i class="fas fa-star text-primary"></i>
                                <i class="fas fa-star text-primary"></i>
                                <i class="fas fa-star text-primary"></i>
                                <i class="fas fa-star text-primary"></i>
                                <i class="fas fa-star"></i>
                            </div>
                            <h4 class="mb-3">{{product.productPrice}}Rup.</h4>
                            <a href="#" class="btn border border-secondary rounded-pill px-3 text-primary"><i
                                    class="fa fa-shopping-bag me-2 text-primary"></i> Add to cart</a>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div> -->