


#navbar::before{
  content: "";
  background-color: #cb202d;
  position: absolute;
  z-index: -1;
  height: 100%;
  width: 100%;
}
#navbar{
  width: 100%;
  display: flex;
  height: 4rem;
  /* height: 15rem; */
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.logo img {
  height: 50px;
  aspect-ratio: 3/2;
  object-fit: contain;
  border: 3px solid white;
  border-radius: 30px;
  /* mix-blend-mode: color-burn; */
  /* color: orangered; */
}
.first{
  width: 37%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu a {
  color: #fff;
  text-decoration: none;
  margin-right: 20px;
}
.menu a:hover{
  text-decoration: underline;
  color: rgb(28, 14, 222);

}

.search{
 display: flex;
 align-items: center;
}
.search input[type="text"] {
  padding: 8px;
  border: none;
  border-radius: 5px;
  margin-right: 0;
}

.search button {
  padding: 8px 16px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 1px;
}

.search button:hover {
  background-color: #45a049;
}


h1{
    color: white;    
}
p{
    color: white;
}


.location{
  display: flex;

 color: white;
  width: 20%;
  
  align-items: center;
  justify-content: space-around;
 
}
