


#navbar::before{
  content: "";
  background-color: #cb202d;
  position: absolute;
  z-index: -1;
  height: 100%;
  width: 100%;
}
#navbar{
  width: 100%;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.logo img {
  height: 50px;
  aspect-ratio: 3/2;
  object-fit: contain;
  border: 3px solid white;
  border-radius: 30px;
  /* mix-blend-mode: color-burn; */
  /* color: orangered; */
}
.first{
  width: 37%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu a {
  color: #fff;
  text-decoration: none;
  margin-right: 20px;
}
.menu a:hover{
  text-decoration: underline;
  color: rgb(28, 14, 222);

}

.search{
 display: flex;
 align-items: center;
}
.search input[type="text"] {
  padding: 8px;
  border: none;
  border-radius: 5px;
  margin-right: 0;
}

.search button {
  padding: 8px 16px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 1px;
}

.search button:hover {
  background-color: #45a049;
}


h1{
    color: white;    
}
p{
    color: white;
}
/* styling the navigation bar */
#navbar::before{
    content: "";
    background-color: #cb202d;
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 100%;
}
#navbar{
    display: flex;
    align-items: center;
    position: relative;
}
#navbar ul{
    display: flex;
}
#navbar ul li{
    list-style-type: none;
}
#navbar ul li a{
    text-decoration: none;
    padding: 8px;
    color: white;
    border-radius: 24px;
}
#navbar ul li a:hover{
    color: red;
    background-color: white;
}
#logo{
    margin-top: 4px;
    margin-left: 4px;
}
#logo img{
    height: 40px;
    margin: 6px;
    border: 3px solid white;
    border-radius: 30px;
}

@media screen and (max-width:410px){
    #navbar{
        flex-direction: column;
    }
    
}