<nav class="navbar">
    <div class="nav-container">
     <div class="logo-menu">
      <a  class="logo" href="#">Logo</a>
      <!-- <img class="logo" src="https://th.bing.com/th/id/OIP.I7FuOhQM7tAfvEAfgeudBgAAAA?rs=1&pid=ImgDetMain" alt=""> -->
      <ul class="menu">
        <li><a routerLink="/products">Products</a></li>
        <li><a routerLink="/category">Category</a></li>
        <li class="dropdown">
          <a href="#">Dropdown</a>
          <ul class="dropdown-content">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><hr></li>
            <li><a href="#">Something else here</a></li>
          </ul>
        </li>
      </ul>
     </div>
      <form class="search-form">
        <input type="text" placeholder="Search..." />
        <button type="submit">Search</button>
      </form>
    </div>
  </nav>
  <div class="container-fulid">
    <router-outlet></router-outlet>
  </div>
  