<!-- <div class="parent-div">
    <div class="login-container">
        <div class="from-Box">
            <header>
                <h1>login</h1>
            </header>
            <form>
                <input type="text" name="username" [(ngModel)]="loginObj.userName" placeholder="UserName">
                 <input type="password" name="password" [(ngModel)]="loginObj.password" placeholder="password">
                <a href=""> Forgot password</a>
                <input type="button" value="Login" (click)="onLogin()">
                <div class="links">
                    <a href="#" (click)="fillCredentials('tarun@123', '8875055810')"><img src="../../../../assets/facebook.jpg" alt=""></a>
                    <a href="#" (click)="fillCredentials('tarun@123', '8875055810')"><img src="../../../../assets/google.jpg" alt=""></a>
                    <a href="#" (click)="fillCredentials('tarun@123', '8875055810')"><img src="../../../../assets/insta.jpg" alt=""></a>
                </div>
               
                <p class="signup">Not a member ?
                    <a href="#">sign up</a>
                </p>
            </form>
        </div>
      </div> 
</div>

  -->



  <section>
    <div class="container" [class.active]="isswitchPage">
      <div class="user signinBx">
        <div class="imgBx"><img src="https://raw.githubusercontent.com/WoojinFive/CSS_Playground/master/Responsive%20Login%20and%20Registration%20Form/img1.jpg" alt="" /></div>
        <div class="formBx">
            <form [formGroup]="signInForm" (ngSubmit)="signIn()">
                <h2>Sign In</h2>
                <input type="text" formControlName="username" placeholder="Username" />
                <div style="color: red;" *ngIf="signInFormControl.username && signInFormControl.username.invalid && (signInFormControl.username.dirty || signInFormControl.username.touched)">
                  <span *ngIf="signInFormControl.username.errors?.['required']">Username is required.</span>
                  <span *ngIf="signInFormControl.username.errors?.['pattern']">Username must contain only letters, numbers, and  symbol..</span>
                </div>
                <input  type="password" formControlName="password" placeholder="Password" />
                <div style="color: red;" *ngIf=" signInFormControl.password&& signInFormControl.password.invalid && (signInFormControl.password.dirty || signInFormControl.password.touched)">
                  <span *ngIf="signInFormControl.password.errors?.['required']">Password is required.</span>
                  <span *ngIf="signInFormControl.password.errors?.['maxlength']">Length is at max (15).</span>
                  <span *ngIf="signInFormControl.password.errors?.['minlength']">Length is at min (6).</span>
                </div>
                <button type="submit">Login</button>
                <p class="signup">
                    Don't have an account ?
                    <a  (click)="switchPage();">Sign Up.</a>
                  </p>
              </form>
        </div>
      </div>
      <div class="user signupBx">
        <div class="formBx">
            <form [formGroup]="signUpForm" (ngSubmit)="signUp()">
                <h2>Sign Up</h2>
                <input type="text" formControlName="username" placeholder="Username" />
                <div style="color: red;" *ngIf="signUpFormControl.username &&  signUpFormControl.username.invalid && (signUpFormControl.username.dirty || signUpFormControl.username.touched)">
                  <span *ngIf="signUpFormControl.username.errors?.['required']">Username is required.</span>
                  <span *ngIf="signUpFormControl.username.errors?.['pattern']">Username must contain only letters, numbers, and symbol.</span>
                </div>
                <input type="email" formControlName="email" placeholder="Email Address" />
                <div style="color: red;" *ngIf="signUpFormControl.email && signUpFormControl.email.invalid && (signUpFormControl.email.dirty || signUpFormControl.email.touched)">
                  <span *ngIf="signUpFormControl.email.errors?.['required']">Email is required.</span>
                  <span *ngIf="signUpFormControl.email.errors?.['email']">Invalid email format.</span>
                </div>
                <input type="password" formControlName="password" placeholder="Create Password" />
                <div style="color: red;" *ngIf="signUpFormControl.password && signUpFormControl.password.invalid && (signUpFormControl.password.dirty || signUpFormControl.password.touched)">
                  <span *ngIf="signUpFormControl.password.errors?.['required']">Password is required.</span>
                  <span *ngIf="signUpFormControl.password.errors?.['maxlength']">Length is at max (15).</span>
                  <span *ngIf="signUpFormControl.password.errors?.['minlength']">Length is at min (6).</span>
                </div>
                <input type="password" formControlName="confirmPassword" placeholder="Confirm Password" />
                <div style="color: red;" *ngIf=" signUpFormControl.confirmPassword && signUpFormControl.confirmPassword.invalid && (signUpFormControl.confirmPassword.dirty || signUpFormControl.confirmPassword.touched)">
                    <span *ngIf="signUpFormControl.password.errors?.['required']">Password is required.</span>
                    <span *ngIf="signUpFormControl.password.errors?.['minlength']">Length is at min (6).</span>
                    <span *ngIf="signUpFormControl.password.errors?.['maxlength']">Length is at max (15).</span>
                    
                </div>
                <button type="submit">Sign Up</button>
                <p class="signup">
                    Already have an account ?
                    <a (click)="switchPage();">Sign in.</a>
                  </p>
              </form>
        </div>
        <div class="imgBx"><img src="https://raw.githubusercontent.com/WoojinFive/CSS_Playground/master/Responsive%20Login%20and%20Registration%20Form/img2.jpg" alt="" /></div>
      </div>
    </div>
  </section>
  