/* .parent-div{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
} */
/* .login-container{
    width: 100vw;
    height: 100vh;
    background: linear-gradient( to right bottom,#ebf4f5,#b5c6e0);
    display: flex;
    justify-content: center;
    align-items: center;

}
.from-Box{
    width: 50%;

max-width: 400px;
background-color: white;
border-radius: 10px;
padding: 20px 28px;
margin-inline: 20px;



}

.from-Box header{
    text-align: center;
color: rgba(137, 43, 226, 0.81);

}
.from-Box from{
    margin-block: 30px;
}
input{
    width: 100%;
    padding: 18px 3px;
    border: none;
    outline: none;
    border-radius: 4px;
    background-color: lightgray;
    font-size: 16px;
    margin: 12px 0px;
}
a{
    text-decoration: none;
    color: #767676;
    font-size: 14px;

}
input[type="button"]
{
    margin-block: 24px;
    background-color: blueviolet;
    color: white;
    font-size: 25px;
    font-weight: 700;
    border-radius: 8px;
    cursor: pointer;
    transition: 4s;
}
input[type="button"]:hover{
    background-color: rgb(31, 31, 162);
    
}
.links{
    display: flex;
    justify-content: center;
    
}

.links a img{
    max-height: 40px;
  margin-inline: 10px;
}
.signup{
    text-align: center;
    margin-block: 20px;
}
.signup a{
    font-size: 16px;
    font-weight:700 ;
    color: blueviolet;
}
.signup a:hover{
    color: rgb(34, 34, 208);
    text-decoration: underline 2px;
   text-underline-offset: 10px;

} */


/*new login page */

@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap');



section {
  position: relative;
  min-height: 100vh;
  background-color: #f8dd30;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

section .container {
  position: relative;
  width: 800px;
  height: 500px;
  background: #fff;
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

section .container .user {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
}

section .container .user .imgBx {
  position: relative;
  width: 50%;
  height: 100%;
  background: #ff0;
  transition: 0.5s;
}

section .container .user .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

section .container .user .formBx {
  position: relative;
  width: 50%;
  height: 100%;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
  transition: 0.5s;
}

section .container .user .formBx form h2 {
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  width: 100%;
  margin-bottom: 10px;
  color: #555;
}

section .container .user .formBx form input {
  position: relative;
  width: 100%;
  padding: 10px;
  background: #f5f5f5;
  color: #333;
  border: none;
  outline: none;
  box-shadow: none;
  margin: 8px 0;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 300;
}

section .container .user .formBx form input[type='submit'] {
  max-width: 100px;
  background: #677eff;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
  transition: 0.5s;
}

section .container .user .formBx form .signup {
  position: relative;
  margin-top: 20px;
  font-size: 12px;
  letter-spacing: 1px;
  color: #555;
  text-transform: uppercase;
  font-weight: 300;
}

section .container .user .formBx form .signup a {
  font-weight: 600;
  /* text-decoration: ; */
  text-decoration: underline;
  color: #677eff;
  cursor: pointer;
}

section .container .signupBx {
  pointer-events: none;
}

section .container.active .signupBx {
  pointer-events: initial;
}

section .container .signupBx .formBx {
  left: 100%;
}

section .container.active .signupBx .formBx {
  left: 0;
}

section .container .signupBx .imgBx {
  left: -100%;
}

section .container.active .signupBx .imgBx {
  left: 0%;
}

section .container .signinBx .formBx {
  left: 0%;
}

section .container.active .signinBx .formBx {
  left: 100%;
}

section .container .signinBx .imgBx {
  left: 0%;
}

section .container.active .signinBx .imgBx {
  left: -100%;
}

button {
    display: inline-block;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    text-decoration: none;
    cursor: pointer;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    background-color: #cb202d;
    border: 2px solid white;
    border-radius: 15px;
}
button:hover{
    background-color: white;
    color: #cb202d;
    cursor: pointer;
    border: 2px solid #cb202d;
}

@media (max-width: 991px) {
  section .container {
    max-width: 400px;
  }

  section .container .imgBx {
    display: none;
  }

  section .container .user .formBx {
    width: 100%;
  }
}
